/* Paleta de colores */
:root {
  --color-primary: #e8e8e8;
  --color-primary-light: #f4f4f2;
  --color-primary-dark: #bbbfca;
  --color-grey-dark: #495464;
  --color-alert: #ff449f;
  --color-green: #05e385;
  --color-header: #27c5e3;
  --color-grey-light-2: #fbfbfb;
  --shadow-dark: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.2);
  --shadow-light: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-light-3);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* border: solid green; */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

/* main {
	width: 90%;
	margin: auto;
} */
div.container-carrito {
  padding-top: 15rem;
  background-color: var(--color-primary-light);
  display: flex;
  border-radius: 5px;
  box-shadow: var(--shadow-dark);
  flex-direction: column;
  align-content: center;
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}

div.icon-carrito {
  background-color: rgba(128, 128, 128, 0.205);
  padding: 30px;
  text-align: center;
  margin: 15px;
  /* margin: auto; */
  border-radius: 20px;
  font-size: 2rem;
}

div.icon-carrito h3 {
  margin-top: 5px;
  justify-content: center;
}

div.forma-pago {
  /* background-color: rgba(0, 128, 0, 0.205); */
  background-color: rgba(128, 128, 128, 0.205);
  padding: 30px;
  text-align: left;
  margin: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
input[type~="text"] {
  /* outline: gray; */
  border: none;
}

div.forma-pago h3 {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  font-size: 2rem;
  /* font-size: 18px; */
}

div.forma-pago label {
  font-size: 16px;
}
div.detalles-tarjeta {
  /* background-color: rgba(0, 0, 255, 0.137); */
  background-color: rgba(128, 128, 128, 0.205);

  padding: 30px;
  text-align: left;
  margin: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

div.detalles-tarjeta h3 {
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 2rem;
}

div.detalles-tarjeta label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

div.detalles-tarjeta input {
  margin-bottom: 3px;
  font-size: 15px;
}
/* .label-detalles-tarjeta {
	margin-top: 10px;
} */

div.detalle-pago {
  /* background-color: rgba(0, 0, 255, 0.137);
	 */
  background-color: rgba(128, 128, 128, 0.205);

  padding: 30px;
  text-align: left;
  margin: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

div.detalle-pago h3 {
  /* display: inline-block;
	 */
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

div.detalle-pago table {
  /* display: flex; */
  table-layout: fixed;
  width: 100%;
  /* justify-content: center; */
}

div.detalle-pago td {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

div.detalle-pago th {
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

div.detalle-compra {
  /* background-color: rgba(255, 255, 0, 0.123); */
  background-color: rgba(128, 128, 128, 0.205);
  padding: 30px;
  text-align: left;
  margin: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

div.detalle-compra h3 {
  /* display: inline-block;
	 */
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  div.container-carrito {
    max-width: 80%;
    display: flex;
  }
  div.contenedor-formaPago-detallesTarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: auto;
  }

  div.contenedor-formaPago-detallesTarjeta .forma-pago {
    margin: auto;
  }

  div.contenedor-detalle-pago-compra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  div.container-carrito {
    display: flex;
    /* width: 30%; */
  }

  /* div.icon-carrito {
		max-width: 80%;
		margin: auto;

		justify-content: center;
	} */
  div.contenedor-detalle-pago-compra {
    /* display: flex;

		flex-direction: row;
		margin: auto;
		justify-content: center;
		max-width: 30%; */
    flex-basis: row;
  }
}
