div.paquete {
  margin: 5rem auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 95%;
}
.btn {
  margin: 0.5rem auto;
  background-color: #fff;
}
button {
  transition: 0.2s;
  cursor: pointer;
}
.destino-nombre {
  text-align: center;
  font-size: 3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
.rating {
  font-size: 1.5rem;
}

/* bien para 600 px */
.paquete .descripcion-paquete {
  font-size: 2rem;
  text-align: justify;
  margin: 1rem auto;
  padding: 5px 20px;
}

.paquete .paquete-imagen {
  padding: 20px;
  width: 60%;
}

div.paquete-descripcion-botones {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
div.division-boton {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  /* text-align: center; */
  /* justify-content: center; */
  margin-top: 1%;
}

/* Media Queries */
@media (min-width: 768px) {
  div.paquete {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .paquete-descripcion-botones {
    display: flex;
    flex: column;
  }

  .division-boton {
    display: flex;
    flex: row;
  }
}
@media (min-width: 1025px) {
  div.division-boton {
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  div.paquete {
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .paquete-descripcion-botones {
    display: flex;
    flex: column;
    margin: 2rem auto;
  }

  div.paquete img {
    max-width: 400px;
  }

  .division-boton {
    display: flex;
    flex: row;
  }
}
