<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles_index.css" />
    <link rel="stylesheet" href="/css/styles_login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/165b3be4bf.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- <div class="container"> -->
    <header class="header">
      <div class="header__hamburger">
        <svg class="header__hamburger-icon">
          <use xlink:href="img/sprite.svg#icon-menu"></use>
        </svg>
      </div>
      <div class="header__brand">
        <a href="/">
          <img src="img/Logo.png" alt="logo" class="header__brand-logo"
        /></a>
        <a href="/"> <p class="header__brand-name">Focus Travel</p></a>
      </div>
      <div class="socialnet">
        <div class="header__social">
          <a href="/fb">
            <svg class="header__social-icon">
              <use xlink:href="img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="header__social">
          <a href="/twi">
            <svg class="header__social-icon">
              <use xlink:href="img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </div>
        <div class="header__social">
          <a href="/ins">
            <svg class="header__social-icon">
              <use xlink:href="img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </div>
        <div class="header__social">
          <a href="/you">
            <svg class="header__social-icon">
              <use xlink:href="img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="nav-left">
        <div class="header__user">
          <p class="header__user-inicio"><a href="/"> Inicio</a></p>
          <p class="header__user-login"><a href="/login"> Ingresa</a></p>
          <p class="header__user-signup"><a href="/signup">Registrate</a></p>
        </div>
        <div class="header__cart">
          <a href="/productCart">
            <svg class="header__cart-icon">
              <use xlink:href="img/sprite.svg#icon-shopping-cart"></use>
            </svg>
          </a>
          <span class="header__cart-notification">2</span>
        </div>
      </div>
    </header>
    <!-- </div> -->

    <section class="contenedor01">
      <h1 class="welcome-title">Bienvenido</h1>
      <div class="login-icon">
        <i class="fas fa-user"></i>
      </div>
      <h5 class="email-title">¿Cuál es tu email?</h5>
      <form action="/login" method="POST">
        <p>
          <label class="label-design" for="email"> Email </label>
          <input
            class="input"
            type="text"
            name="usuario"
            id="email"
            placeholder="email@ejemplo.com"
          />
        </p>
        <p>
          <label class="label-design" for="contraseña"> Contraseña </label>
          <input
            class="input"
            type="text"
            name="email"
            id="contraseña"
            placeholder="ejemplo123"
          />
        </p>
        <p>
          <button class="button" type="submit">Iniciar sesión</button>
        </p>
        <h6 class="forgot-password">¿Olvidaste tu contraseña?</h6>
      </form>
    </section>
  </body>
</html>
