<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles_index.css" />
		<link rel="stylesheet" href="/css/styles_productDetail.css" />
		

		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
			rel="stylesheet"
		/>
		<title>Detalle de producto</title>
	</head>
	<body>

<!-- Inicio del header -->
<header class="header">
	<div class="header__hamburger">
	  <svg class="header__hamburger-icon">
		<use xlink:href="img/sprite.svg#icon-menu"></use>
	  </svg>
	</div>
	<div class="header__brand">
	  <a href="/">
		<img src="img/Logo.png" alt="logo" class="header__brand-logo"
	  /></a>
	  <a href="/"> <p class="header__brand-name">Focus Travel</p></a>
	</div>
	<div class="socialnet">
	  <div class="header__social">
		<a href="/fb">
		  <svg class="header__social-icon">
			<use xlink:href="img/sprite.svg#icon-facebook"></use>
		  </svg>
		</a>
	  </div>
	  <div class="header__social">
		<a href="/twi">
		  <svg class="header__social-icon">
			<use xlink:href="img/sprite.svg#icon-twitter"></use>
		  </svg>
		</a>
	  </div>
	  <div class="header__social">
		<a href="/ins">
		  <svg class="header__social-icon">
			<use xlink:href="img/sprite.svg#icon-instagram"></use>
		  </svg>
		</a>
	  </div>
	  <div class="header__social">
		<a href="/you">
		  <svg class="header__social-icon">
			<use xlink:href="img/sprite.svg#icon-youtube"></use>
		  </svg>
		</a>
	  </div>
	</div>
	<div class="nav-left">
	  <div class="header__user">
		<p class="header__user-inicio"><a href="/"> Inicio</a></p>
		<p class="header__user-login"><a href="/login"> Ingresa</a></p>
		<p class="header__user-signup"><a href="/signup">Registrate</a></p>
	  </div>
	  <div class="header__cart">
		<a href="/productCart">
		  <svg class="header__cart-icon">
			<use xlink:href="img/sprite.svg#icon-shopping-cart"></use>
		  </svg>
		</a>
		<span class="header__cart-notification">2</span>
	  </div>
	</div>
  </header>
<!-- Fin del header -->

		<!-- Descripcion producto -->
		<div class="paquete">
			<img src="/img/dest-1.jpg" class="paquete-imagen" alt="" width="320px" />
			<div class="paquete-descripcion-botones">
				<p class="descripcion-paquete">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, consectetur,
					nam id fuga necessitatibus culpa aliquam incidunt doloribus eius quis possimus
					voluptas expedita perferendis minima qui optio. Quisquam, alias consequatur!
				</p>

				<div class="division-boton">
					<a href="/productCart" class="btn btn-color">Reservar</a>

					<a href="/" class="btn btn-color">Cancelar</a>
				</div>
			</div>
		</div>

	</div>

	</body>
</html>
