<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/styles_productDetail.css" />
		<link rel="stylesheet" href="/css/normalize.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
			rel="stylesheet"
		/>
		<title>Detalle de producto</title>
	</head>
	<body>
		<!-- Descripcion producto -->
		<div class="paquete">
			<img src="/img/dest-1.jpg" class="paquete-imagen" alt="" width="320px" />
			<p class="descripcion-paquete">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, saepe accusamus
				distinctio impedit ad ducimus, voluptas debitis fugiat aliquid corrupti hic
				aperiam minima a facilis quod iure voluptatibus ut molestiae?
			</p>

			<div class="division-boton">
				<a href="/productCart" class="btn btn-color">Reservar</a>
			</div>
			<div>
				<a href="/" class="btn btn-color">Cancelar</a>
			</div>
		</div>
	</body>
</html>
