<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles_login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/165b3be4bf.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>

      <main class="main">
        <div class="container-destination">
          <section class="contenedor01">
            <h1 class="welcome-title">Bienvenido</h1>
            <h4 class="create-account">Crea tu cuenta</h4>
            <form action="/login" method="POST">
              <p>
                <label class="label-design" for="email"> Email </label>
                <input
                  class="input"
                  type="text"
                  name="usuario"
                  id="email"
                  placeholder="email@ejemplo.com"
                />
              </p>
              <p>
                <label class="label-design" for="contraseña">
                  Contraseña
                </label>
                <input
                  class="input"
                  type="text"
                  name="email"
                  id="contraseña"
                  placeholder="ejemplo123"
                />
              </p>
              <div class="terms-use">
                <input type="checkbox" name="terminosYCondiciones" />
                <label for="">Acepto términos y condiciones de uso</label>
              </div>
              <p>
                <button class="button" type="submit">Crear cuenta</button>
              </p>
            </form>
          </section>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
