:root {
  --color-primary: #e8e8e8;
  --color-primary-light: #f4f4f2;
  --color-primary-dark: #bbbfca;
  --color-grey-dark: #495464;
  --color-alert: #ff449f;
  --color-green: #1dd488;
  --color-secondary: #1a98ac;

  // --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #fbfbfb;
  // --color-grey-light-3: #e7e5e5;
  // --color-grey-light-4: #ccc;

  // --color-grey-dark-1: #333;
  // --color-grey-dark-2: #777;
  // --color-grey-dark-3: #999;

  --shadow-dark: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.2);
  --shadow-light: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey-light-3);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    &:visited,
    &:link,
    &:focus {
      color: var(--color-alert);
      text-decoration: none;
    }
  }
}
*,
*::after,
::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1.3;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: white;
}
