.btn {
  border: solid 2px var(--color-alert);
  border-radius: 5px;
  color: var(--color-alert);
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  padding: 1rem 4rem;
  &:link,
  &:visited,
  &:focus {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
  }
  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    font-weight: 700;
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }
}
#btn--fill {
  background-color: var(--color-alert);
  color: #fff;
}
#btn--normal {
  border: solid 2px var(--color-green);
  color: var(--color-green);
}
#find-btn {
  border: solid 2px var(--color-secondary);
  color: var(--color-secondary);
}

.flip {
  width: 80%;
  margin: 0.5rem auto 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  height: 5rem;
  overflow: hidden;
  text-transform: uppercase;
}

.contword {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  // padding: 0.58rem 1.2rem;
  // height: 4.5rem;
  // margin-bottom: 4rem;
}
.cont1 {
  background: #4ec7f3;
}
.cont2 {
  background: #dc143c;
}
.cont3 {
  background: #42c58a;
}
.contanim {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -15rem;
  }
  5% {
    margin-top: -10rem;
  }
  33% {
    margin-top: -10rem;
  }
  38% {
    margin-top: -5rem;
  }
  66% {
    margin-top: -5rem;
  }
  71% {
    margin-top: 0px;
  }
  99.9999999% {
    margin-top: 0px;
  }
  100% {
    margin-top: -15rem;
  }
}

@media (min-width: 576px) {
  .header {
    &__brand {
      &-logo {
        display: block;
      }
    }

    // &__user {
    //   align-items: center;
    //   align-self: stretch;
    //   display: flex;
    //   justify-content: flex-end;
    //   & > * {
    //     align-items: center;
    //     align-self: stretch;
    //     display: flex;
    //     margin: 0 1rem;
    //   }
    // }
  }
  .container-destination {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    & > * {
      width: 46%;
    }
  }
  .form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 503px;
    & .find {
      height: 100%;
    }
  }
  .footer {
    & > * {
      width: 30%;
    }
  }
}

@media (min-width: 769px) {
  .header {
    &__hamburger {
      display: none;
    }
    &__brand {
      &-logo {
        display: block;
      }
    }
    &__user {
      align-items: center;
      align-self: stretch;
      display: flex;
      justify-content: flex-end;
      & > * {
        align-items: center;
        align-self: stretch;
        display: flex;
        margin: 0 1rem;
      }
    }
  }
  .socialnet {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .container-destination {
    & > * {
      width: 30%;
    }

    .destination {
      position: relative;
      &:hover {
        // content: "";
        .destination-description {
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.5) 20%,
            rgba(0, 0, 0, 0.3) 35%,
            rgba(0, 0, 0, 0.2) 50%,
            rgba(0, 0, 0, 0) 100%
          );
        }
      }
      /*Pruebas de animación ascendente*/

      &__destacado {
        &::before {
          background-color: var(--color-alert);
          content: "";
          height: 3px;
          left: 0;
          position: absolute;
          top: 0;
          transition: transform 0.5s;
          transform: scaleX(0);
          width: 100%;
        }
        &:hover::before {
          transform: scaleX(1);
        }
      }
      &__normal {
        &::before {
          background-color: var(--color-green);
          content: "";
          height: 3px;
          left: 0;
          position: absolute;
          top: 0;
          transition: transform 0.5s;
          transform: scaleX(0);
          width: 100%;
        }
        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }
  .form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.08s;
    &:hover {
      box-shadow: var(--shadow-dark);
    }

    & .find {
      height: 100%;
      padding-top: 2rem;
    }
  }
}
