<header class="header">
  <!-- <div class="header__hamburger">
    <a class="header__nav-bar__icon" id="hamburguer">
      <svg class="header__hamburger-icon" id="hamburguer">
        <use xlink:href="img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div> -->
  <button class="hamburger">
    <div class="bar"></div>
  </button>
  <!-- <nav class="mobile-nav1">
      <a href="/"> Inicio</a>
      <a href="/login"> Ingresa</a>
      <a href="/signup">Registrate</a>
    </nav> -->
  <div class="header__brand">
    <a href="/">
      <img src="/img/Logo.png" alt="logo" class="header__brand-logo"
    /></a>
    <a href="/"> <p class="header__brand-name">Focus Travel</p></a>
  </div>
  <div class="socialnet">
    <div class="header__social">
      <a href="/fb">
        <svg class="header__social-icon">
          <use xlink:href="../img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </div>
    <div class="header__social">
      <a href="/twi">
        <svg class="header__social-icon">
          <use xlink:href="../img/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </div>
    <div class="header__social">
      <a href="/ins">
        <svg class="header__social-icon">
          <use xlink:href="../img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </div>
    <div class="header__social">
      <a href="/you">
        <svg class="header__social-icon">
          <use xlink:href="../img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="nav-left" id="nav-ul">
    <div class="header__user">
      <p class="header__user-inicio"><a href="/"> Inicio</a></p>
      <p class="header__user-login"><a href="/login"> Ingresa</a></p>
      <p class="header__user-signup"><a href="/signup">Registrate</a></p>
    </div>
    <div class="header__cart">
      <a href="/mycart">
        <svg class="header__cart-icon">
          <use xlink:href="../img/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </a>
      <span class="header__cart-notification">2</span>
    </div>
  </div>
</header>
<main class="mobilemain">
  <nav class="mobile-nav">
    <a href="/"> Inicio</a>
    <a href="/login"> Ingresa</a>
    <a href="/signup">Registrate</a>
  </nav>
</main>
