<div class="mobile-nav-bar">
  <div class="icon-container">
    <a href="/">
      <svg class="mobile-icon">
        <use xlink:href="../img/sprite.svg#icon-home"></use>
      </svg>
    </a>
    <a href="#">
      <svg class="mobile-icon">
        <use xlink:href="../img/sprite.svg#icon-chat"></use>
      </svg>
    </a>

    <a href="/#">
      <svg class="mobile-icon">
        <use xlink:href="../img/sprite.svg#icon-magnifying-glass"></use>
      </svg>
    </a>
    <a href="/login">
      <svg class="mobile-icon">
        <use xlink:href="../img/sprite.svg#icon-person"></use>
      </svg>
    </a>

    <a href="/mycart">
      <svg class="mobile-icon">
        <use xlink:href="../img/sprite.svg#icon-shopping-cart"></use>
      </svg>
    </a>
  </div>
</div>
